<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reservaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-list>
          <ion-item-sliding
            *ngFor="let reservacion of reservaciones"
            #slidingRsv
          >
            <ion-item [routerLink]="reservacion.id">
              <ion-avatar slot="start">
                <ion-img [src]="reservacion.imagen"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{reservacion.restaurante}}</h2>
                <p>{{reservacion.fecha}}</p>
              </ion-label>
            </ion-item>

            <ion-item-options>
              <ion-item-option
                color="danger"
                (click)="onRemoveReservacion(reservacion.id,slidingRsv)"
              >
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
