<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ofertas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card *ngFor="let oferta of ofertas">
          <ion-card-header>
            <ion-card-title>{{oferta.titulo}}</ion-card-title>
            <ion-card-subtitle>{{oferta.subtitulo}}</ion-card-subtitle>
          </ion-card-header>

          <ion-img [src]="oferta.imagen"></ion-img>

          <ion-card-content>
            <p>Vigencia: {{oferta.vigencia}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
