<div class="picker">
  <ion-img
    role="button"
    (click)="onPickImage()"
    class="image"
    [src]="selectedImage"
    *ngIf="selectedImage"
  ></ion-img>
  
  <ion-button color="primary" (click)="onPickImage()" *ngIf="!selectedImage">
    <ion-icon name="camera"></ion-icon>
  </ion-button>
</div>
<input
  type="file"
  accept="image/jpeg"
  *ngIf="usarPicker"
  #filePicker
  (change)="onFileSelected($event)"
/>
