<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>{{!isLoginMode ? 'Registro' : 'Inicio'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="oating">Correo Electronico</ion-label>
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>

            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label>Ingresa un correo valido</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="oating">Contraseña</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!passCtrl.valid && passCtrl.touched" lines="none">
              <ion-label>Ingresa un password valido</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            color="primary"
            ll="clear"
            expand="block"
            (click)="onSwitchAuthMode()"
          >
            {{isLoginMode ? 'Registrarse' : 'Ir a Inicio'}}
          </ion-button>

          <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
          <ion-button
            color="primary"
            expand="block"
            *ngIf="!isLoading"
            type="submit"
            [disabled]="!myForm.valid"
          >
            {{!isLoginMode ? 'Guardar' : 'Entrar'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
